body{
  font-family: "Lato", sans-serif;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

div{
  position: absolute;
  margin: auto;
  text-align: center;
  width: 24px;
  height: 24px;
}

.blockText{
  font-size: 24px;
  color: black;
}

.crosshair{
  position: absolute;
  font-size: 25px;
  color: white;
}
