.navdrawer .mdl-navigation__link:hover {
  background-color: #00BCD4 !important;
}

.navdrawer .mdl-navigation__link .material-icons {
  font-size: 24px;
  margin-right: 32px;
}

.cardlink{
  text-decoration: none;
  width: 90%;
}

.cardlink:hover{
  background-color: #00BCD4 !important;
}

.pagecard {
  height: 70%;
  width: 90%;
  margin: auto;
  margin-top: 2%;;
}
