body{
  font-family: "Lato", sans-serif;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.uibox {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: black;
  opacity: 0.75;
  width: 10%;
  height: 20%;
  text-align: left;
}

p {
  padding-top: 5px;
  color: #24b76b;
  opacity: 1;
  margin: 5px;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 5%;
    background: white;
    outline: none;
    margin: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #24b76b;
    cursor: pointer;
    border-radius: 5px;
}

.slider::-moz-range-thumb {
    width: 5px;
    height: 5px;
    background: #24b76b;
    cursor: pointer;
    border-radius: 5px;
}
